#gameboard{
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 600px;
  height: 600px;

  div {
    background-color: lightgrey;
    text-align: center;
    font-size: 11rem;
    color: rgb(49, 57, 66);
  }
}

#winner {
  position: absolute;
  font-size: 10rem;
  color: white;
  background-color: rgba(112, 128, 144, .8);
  width: 600px;
  height: 540px;
  text-align: center;
  padding-top: 4rem;
  text-transform: uppercase;
}
#game {
  margin: 3rem auto;
  width: 600px;
  height: 600px;
  position: relative;
}

#gameboard > div:nth-child(1) {grid-area: '1';}
#gameboard > div:nth-child(2) {grid-area: '2';}
#gameboard > div:nth-child(3) {grid-area: '3';}
#gameboard > div:nth-child(4) {grid-area: '4';}
#gameboard > div:nth-child(5) {grid-area: '5';}
#gameboard > div:nth-child(6) {grid-area: '6';}
#gameboard > div:nth-child(7) {grid-area: '7';}
#gameboard > div:nth-child(8) {grid-area: '8';}
#gameboard > div:nth-child(9) {grid-area: '9';}

